body {max-width: 100%; background-color: black; margin: auto}
img {width: 100%; max-width: 400px; display: block; margin: 0 auto; padding:10px}
h1, h3, p, li {color: white}
h1 {padding: 20px}
h3 {text-align: center; padding: 10px}
.box-row {display: flex; flex-wrap: wrap; max-width: 100%; padding: 10px; justify-content: center; margin: 0 auto; align-items: center;}
.custom-col-6 {  flex: 1 1 calc(50% - 20px); box-sizing: border-box; padding: 5px; flex: 1 1 calc(50% - 40px); margin: 10px; background-color: #212529;}
.custom-col-3 {box-sizing: border-box; padding: 5px; flex: 1 1 calc(50% - 40px); margin: 10px; max-width: 400px;}
.custom-col-9 {box-sizing: border-box; padding: 5px; flex: 1 1 calc(50% - 40px); margin: 10px}
.custom-col-12 {background-color: #212529; width: 100%;}
#subheading {font-style: italic; font-size: 150%; text-align: center;}
p {font-size: 120%; margin:auto}
#fineprint {color:white; font-size: 10px; font-style: italic; text-align: center; padding: 10px; margin-top: 50px}
hr {height: 5px; background-color: white; margin-top: 30px}
#top-gap {padding-top: 30px}
